@import "../../../styles/base/variables.scss";
@import "../../../styles/base/responsiveMixin.scss";

.ItemPreview {
  margin: 2px 0;
  padding: 5px;
  height: 454px;
  overflow: hidden;

  .ItemImage {
    width: 100%;
    overflow: hidden;
    transform: scale(0.8) translateY(50px);
    transition: all 0.3s ease-out;
    opacity: 0.8;
    display: block;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      border-radius: 10px;
    }
  }

  .ItemCaption {
    display: flex;
    flex-direction: column;
    align-items: center;

    transform: translateY(55%);
    transition: all 0.3s ease-out;

    p {
      margin: 0;
    }
  }
  &:hover {
    .ItemImage {
      opacity: 1;
      transform: scale(0.93) translateY(0);
      margin-top: 0;
    }
    .ItemCaption {
      transform: translateY(0);
    }
  }

  @include atSmall {
  }
}
