@import "../../styles/base/variables.scss";
@import "../../styles/base/responsiveMixin.scss";

.NavigationSection {
  margin-top: 173px;
  height: 44px;
  width: 100%;
  border-bottom: 2px $mainLightGrey solid;

  background-color: white;
  // margin-bottom: 43px;
  @include atSmall {
  }
}
