$mainDark: #333;
$mainLight: #fff;

$mainLightGrey: rgb(249, 249, 249);
$mainGrey: rgb(195, 195, 196);
$mainDarkGrey: rgb(121, 121, 121);
$mainOrange: rgb(255, 183, 27);
$mainShadow: 0 1px 5px rgba(104, 104, 104, 0.8);
