@import "../../../../styles/base/variables.scss";
@import "../../../../styles/base/responsiveMixin.scss";

.NavButton {
  height: 60px;
  position: relative;
  display: inline-block;
  padding: 20px 10px;

  user-select: none;
  cursor: pointer;

  .NavButton-title {
    display: block;

    font-size: 1rem;
    font-weight: 400;
    color: $mainDark;

    text-decoration: none;
  }

  .NavButton-folder {
    color: $mainDark;
    font-size: 1rem;
    position: absolute;
    display: none;
    background-color: white;

    width: 160px;
    left: 0;
    top: 100%;

    .folderItem {
      text-decoration: none;
      font-size: 1rem;
      color: $mainDark;
      font-weight: 400;
      margin: 6px;
      padding: 6px;

      border-bottom: 1px $mainGrey solid;

      &:last-child {
        padding-bottom: 0;
        border-bottom: none;
      }
      &:hover {
        color: white;
        background-color: $mainOrange;
      }
    }
  }

  &:hover {
    color: white;
    background-color: $mainOrange;

    .NavButton-folder {
      display: flex;
      flex-direction: column;
    }
  }

  @include atLarge {
    height: auto;
    padding: 0px;

    border-bottom: 2px $mainLightGrey solid;
    background-color: $mainOrange;

    .NavButton-title {
      padding: 10px 0;
      color: white;
    }

    .NavButton-folder {
      position: relative;
      width: 100%;
      top: 0;
      padding-left: 10px;
      z-index: 20;

      display: flex;
      flex-direction: column;

      .folderItem {
        &:hover {
          color: $mainDarkGrey;
          background-color: white;
          text-decoration: none;
        }

        // background-color: $mainOrange;
      }
    }
  }
}
