@import "../../styles/base/variables.scss";
@import "../../styles/base/responsiveMixin.scss";

.Button {
  user-select: none;
  background-color: $mainOrange;
  color: white;
  padding: 0.8rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $mainGrey;
  }

  &-login {
    background-color: $mainGrey;
    color: white;
    &:hover {
      background-color: $mainDarkGrey;
    }
  }

  &-sign-up {
    background-color: white;
    color: $mainOrange;
    border: 1px $mainOrange solid;
    &:hover {
      background-color: $mainOrange;
      color: white;
    }
  }

  &-facebook {
    background-color: rgb(61, 81, 167);

    i {
      margin-right: 5px;
    }
  }
}
