@import "../../styles/base/variables.scss";
@import "../../styles/base/responsiveMixin.scss";

.CheckoutPage {
  background-color: $mainLightGrey;
  height: 100vh;
  margin-top: 173px;
  padding-top: 20px;
  text-align: left;
}
