@import "../../styles/base/variables.scss";
@import "../../styles/base/responsiveMixin.scss";

.SimpleSearch {
  position: relative;
  .iconBlock {
    position: relative;
    // background-color: red;

    .cartCount {
      position: absolute;
      background-color: gold;

      height: 20px;
      font-size: 16px;
      text-align: center;
      line-height: 20px;

      border-radius: 10px;
      padding: 2px;
      top: -8px;
      right: -12px;
    }
  }

  .hidingBlock {
    user-select: none;
    z-index: 10;
    position: absolute;
    background-color: white;
    right: -20px;
    width: 300px;
    height: 70px;

    padding: 16px 16px;

    font-size: 1rem;
    text-align: right;

    // overflow: scroll;

    border: 2px $mainLightGrey solid;
    display: none;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &-show {
      display: flex;
    }

    input {
      width: 75%;
      height: 30px;
      padding: 10px;
      border-radius: 10px;
      border: 1px $mainGrey solid;
      &:focus {
        outline: none;
      }
    }
    .Button {
      height: 30px;
    }

    @include atSmall {
    }
  }
}
