@import "../../styles/base/variables.scss";
@import "../../styles/base/responsiveMixin.scss";

.SimpleLogin {
  position: relative;
  .iconBlock {
    position: relative;
    // background-color: red;

    .cartCount {
      position: absolute;
      background-color: gold;

      height: 20px;
      font-size: 16px;
      text-align: center;
      line-height: 20px;

      border-radius: 10px;
      padding: 2px;
      top: -8px;
      right: -12px;
    }
  }

  .hidingBlock {
    user-select: none;
    z-index: 10;
    position: absolute;
    background-color: white;
    right: -50px;
    width: 300px;
    min-height: 105px;
    max-height: 500px;

    padding: 16px;

    font-size: 1rem;
    text-align: right;

    // overflow: scroll;

    border: 2px $mainLightGray solid;
    display: none;

    &-show {
      display: block;
    }

    @include atSmall {
    }
  }
}
