@import "../../styles/base/variables.scss";
@import "../../styles/base/responsiveMixin.scss";

.Header {
  position: fixed;
  top: 0;
  z-index: 10;
  height: 173px;
  width: 100%;
  background: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .logoSection {
    padding-top: 28px;
    i {
      font-size: 60px;
      color: $mainDark;
    }
  }

  .functionSection {
    width: 170px;
    font-size: 1.43rem;
    position: absolute;
    right: 2%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 16px;
    i {
      cursor: pointer;
    }
  }

  @include atLarge {
    height: 60px;

    flex-direction: row;

    .logoSection {
      padding: 21px;
      margin-left: 60px;
      i {
        font-size: 50px;
      }
    }
  }

  @include atSmall {
    .logoSection {
      display: none;
    }
  }
}
