@import "../../styles/base/variables.scss";
@import "../../styles/base/responsiveMixin.scss";

.SearchPreviewList {
  // background: gold;
  margin-top: 20px;

  .promptSection {
    text-align: center;
    background-color: rgb(209, 236, 241);
    border-radius: 10px;
    padding: 1rem;
    font-size: 1rem;
  }
  @include atSmall {
  }
}
