$mainDark: #333;
$mainLight: #fff;

$mainLightGray: rgb(249, 249, 249);
$mainGray: rgb(240, 241, 243);
$mainDarkGray: rgb(121, 121, 121);
$mainOrange: rgb(247, 177, 40);
$mainShadow: 0 1px 5px rgba(104, 104, 104, 0.8);
