$mainDark: #333;
$mainLight: #fff;
$mainGray: rgb(197, 193, 193);
$mainLightGray: rgb(236, 235, 235);
$mainDarkGray: rgb(121, 121, 121);
$mainOrange: rgb(247, 177, 40);
$mainShadow: 0 1px 5px rgba(104, 104, 104, 0.8);
